<div class="admin-container">

  <aside class="sidebar">
    <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/admin/cruises" routerLinkActive="active">Cruises</a>
    <a routerLink="/admin/bookings" routerLinkActive="active">Bookings</a>
    <a routerLink="/admin/offers" routerLinkActive="active">Offers</a>
    <a routerLink="/admin/users" routerLinkActive="active">Users</a>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>