<footer class="ocean-footer">

  <!-- WAVES TOP -->
  <div class="footer-waves">
    <svg viewBox="0 0 1440 120" preserveAspectRatio="none">
      <path d="M0,40 
               C120,80 240,0 360,40 
               C480,80 600,0 720,40 
               C840,80 960,0 1080,40 
               C1200,80 1320,0 1440,40 
               L1440,0 L0,0 Z">
      </path>
    </svg>
  </div>

  <div class="footer-container">

    <!-- COLUMN 1 -->
    <div class="footer-col">
      <h3>Main Menu</h3>
      <a href="#">Offers</a>
      <a href="#">Destinations</a>
      <a href="#">Entertainment</a>
      <a href="#">On-board Dining</a>
    </div>

    <!-- COLUMN 2 -->
    <div class="footer-col">
      <h3>All Destinations</h3>
      <a href="#">Mumbai</a>
      <a href="#">Lakshadweep</a>
      <a href="#">Goa</a>
      <a href="#">Chennai</a>
      <a href="#">Kochi</a>
      
    </div>

    <!-- COLUMN 3 -->
    <div class="footer-col">
      <h3>Links</h3>
      <a href="#">About Us</a>
      <a href="#">Ports</a>
      <a href="#">Website T&C</a>
    </div>

    <!-- COLUMN 4 -->
    <div class="footer-col">
      <h3>Privacy Policy</h3>
      <a href="#">All Policy</a>
      <a href="#">FAQ</a>
    </div>

  </div>
<div class="footer-bottom">

  <div class="footer-brand">
    <img src="assets\photos\logo.png" alt="Ocean Crown" class="footer-logo">
    <span class="company-name">MYSHA'S Cruises</span>
  </div>

  <div class="footer-copy">
    © 2026 MYSHA'S Cruises. All Rights Reserved.
  </div>

</div>
</footer>